{% extends 'base.html.twig' %}

{% block title %}SpentInCategory{% endblock %}

{% block body %}
    <h1>SpentInCategory</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ spent_in_category.id }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ spent_in_category.amount }}</td>
            </tr>
            <tr>
                <th>IsUser</th>
                <td>{{ spent_in_category.isUser }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_spent_in_category_index') }}">back to list</a>

    <a href="{{ path('app_spent_in_category_edit', {'id': spent_in_category.id}) }}">edit</a>

    {{ include('spent_in_category/_delete_form.html.twig') }}
{% endblock %}
