{% extends 'base.html.twig' %}

{% block title %}Statistics index{% endblock %}

{% block body %}
    <h1>Statistics index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TotalSpent</th>
                <th>SpentInCategory</th>
                <th>UserId</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for statistic in statistics %}
            <tr>
                <td>{{ statistic.id }}</td>
                <td>{{ statistic.totalSpent }}</td>
                <td>{{ statistic.spentInCategory }}</td>
                <td>{{ statistic.userId }}</td>
                <td>
                    <a href="{{ path('app_statistics_show', {'id': statistic.id}) }}">show</a>
                    <a href="{{ path('app_statistics_edit', {'id': statistic.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_statistics_new') }}">Create new</a>
{% endblock %}
