
{% extends 'base.html.twig' %}

{% block title %}ShoppingList index{% endblock %}

{% block body %}
    <h1>Your Shopping list</h1>

    <div class="table-container">
        {% for loop_index, shopping_list in shopping_lists %}

            <div class="shopping-list-item {% if loop_index < 3 %}detailed{% endif %}">

                <h3>{{ shopping_list.name }}</h3>

                {% if loop_index < 3 %}

                    <p><strong>Id:</strong> {{ shopping_list.id }}</p>
                    <p><strong>NbProducts:</strong> {{ shopping_list.nbProducts }}</p>
                    <p><strong>Products:</strong></p>

                {% else %}

                    <p><strong>NbProducts:</strong> {{ shopping_list.nbProducts }}</p>

                {% endif %}
                
                <div class="actions">

                    <a href="{{ path('app_shopping_list_show', {'id': shopping_list.id}) }}">show</a>
                    <a href="{{ path('app_shopping_list_edit', {'id': shopping_list.id}) }}">edit</a>

                </div>
            </div>

        {% else %}

            <p>No records found</p>
            
        {% endfor %}
    </div>

    <a href="{{ path('app_shopping_list_new') }}">Create new</a>
    <a href="{{ path('app_logout') }}">Logout</a>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_admin') }}">Admin</a>
    {% endif %}
{% endblock %}

