{% extends 'base.html.twig' %}

{% block title %}ShoppingList index{% endblock %}

{% block body %}
    <h1>Your shopping lists</h1>

    <div>
        <input id="sl-stats-btn" type="button"  />
        <div id="sl-stats-container">{{ include('shopping_list/chart.html.twig') }}</div>
    </div>

    <div id="shopping-list-table" class="container row mx-auto my-3">
        {% for shopping_list in shopping_lists %}
            {% if shopping_list.utilisateur.id == user.id %}
                <div class="col-lg-4 col-md-6 col-12 p-3">
                    <div class="card shopping-list-container shadow-sm">
                        <img src="{{ asset('images/thumbtack-' ~ random(1, 3) ~ '.png') }}" alt="Thumbtack Image" class="sl-thumbtack">
                        <div class="card-body">
                            <h5 class="card-title">{{ shopping_list.name }}</h5>
                            <p class="card-text"><strong>Number of products:</strong> {{ shopping_list.nbProducts }}</p>
                            <p class="card-text"><strong>Products:</strong></p>
                            <ul class="list-group list-group-flush">
                                {% for listed_product in shopping_list.listedProducts %}
                                    {% if loop.index0 <= 2 %}
                                        <li class="list-group-item" style="{% if listed_product.bought %}text-decoration: line-through;{% endif %}">
                                            <strong>{{ listed_product.product.name }}</strong> x {{ listed_product.quantity }} :
                                            {{ listed_product.product.weight * listed_product.quantity }}g ,
                                            {{ _self.total_price(listed_product.product, listed_product.quantity) }}
                                        </li>
                                    {% else %}
                                        {% if loop.last %}
                                            <li class="list-group-item"> ... </li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="card-footer d-flex justify-content-end gap-2">
                            <a href="{{ path('app_shopping_list_show', {'id': shopping_list.id}) }}" class="btn btn-primary btn-sm">Show</a>
                            <a href="{{ path('app_shopping_list_edit', {'id': shopping_list.id}) }}" class="btn btn-secondary btn-sm">Edit</a>
                            {{ include('shopping_list/_delete_form.html.twig', { 'shopping_list': shopping_list, 'button_class': 'btn btn-danger btn-sm' }) }}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% else %}
            <p>No records found</p>
        {% endfor %}
    </div>

    <div id="new-list-container" class="">
        <div class="input-group">
            <button id="plus-button" class="" type="button" style="width: 50px; height: 50px;">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 5v14M5 12h14" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
            <input type="text" id="new-list-name" class="d-none" placeholder=" my new list name">
            <button id="create-list-button" class="d-none" type="button" disabled>Create</button>
        </div>
    </div>


    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const plusButton = document.getElementById('plus-button');
            const inputField = document.getElementById('new-list-name');
            const createButton = document.getElementById('create-list-button');
            const statsBtn = document.getElementById("sl-stats-btn");
            const statsContainer = document.getElementById("sl-stats-container");
            let statsHidden = false;

            statsBtn.addEventListener("click", () => {
                if (!statsHidden) {
                    statsContainer.classList.add("d-none");
                    statsHidden = true;
                }
                else {
                    statsContainer.classList.remove("d-none");
                    statsHidden = false;
                }
            });

            plusButton.addEventListener('click', function(e) {
                e.preventDefault();
                if (inputField.classList.contains('d-none')) {
                    inputField.classList.remove('d-none');
                    inputField.style.width = '150px';
                    createButton.classList.remove('d-none');
                    plusButton.style.transform = 'rotate(45deg)';
                } else {
                    inputField.classList.add('d-none');
                    inputField.style.width = '0';
                    createButton.classList.add('d-none');
                    plusButton.style.transform = 'rotate(0deg)';
                }
            });

            inputField.addEventListener('input', function() {
                createButton.disabled = !this.value.trim();
            });

            createButton.addEventListener('click', function() {
                if (inputField.value.trim()) {
                    window.location.href = "{{ path('app_shopping_list_new') }}?name=" + encodeURIComponent(inputField.value);
                }
            });
        });
    </script>

{% endblock %}

{% block macros %}
    {% macro total_price(product, quantity) %}
        {% set total_centimes = (product.euros * 100 + product.centimes) * quantity %}
        {% set total_euros = (total_centimes // 100) %}
        {% set remaining_centimes = (total_centimes % 100) %}
        {%if remaining_centimes == 0 %}
            {% set remaining_centimes = '' %}
        {% endif %}
        {{ total_euros }}€{{ remaining_centimes }}
    {% endmacro %}
{% endblock %}