{% extends 'base.html.twig' %}

{% block title %}ShoppingList index{% endblock %}

{% block body %}
    <h1>Your Shopping lists</h1>

    <div id="shopping-list-table" class="container row mx-auto my-3">
        {% for shopping_list in shopping_lists %}

            <div class="col-lg-4 col-md-6 col-12 p-3">
                <div class="d-flex flex-column justify-content-between p-3 h-100 bg-success-subtle border border-black border-opacity-10 shadow position-relative">

                    <img
                            src="{{ asset('images/thumbtack-' ~ random(1, 3) ~ '.png') }}" alt="Thumbtack Image"
                            class="sl-thumbtack"
                    >
                    
                    <div class="lh-sm">
                        <p><strong>List ID:</strong> {{ shopping_list.id }}</p>
                        <p><strong>Number of products:</strong> {{ shopping_list.nbProducts }}</p>
                        <p><strong>Products:</strong></p>

                        <ul class="lh-base">
                            {% for listed_product in shopping_list.listedProducts %}

                                <li>{{ listed_product.product.name }}</li>

                            {% endfor %}
                        </ul>
                    </div>

                    <div class="d-flex justify-content-end gap-2 align-items-center">
                        <a href="{{ path('app_shopping_list_show', {'id': shopping_list.id}) }}">Show</a>
                        <a href="{{ path('app_shopping_list_edit', {'id': shopping_list.id}) }}" class="">Edit</a>

                        {{ include('shopping_list/_delete_form.html.twig', { 'shopping_list': shopping_list }) }}
                    </div>

                </div>
            </div>

        {% else %}

            <p>No records found</p>

        {% endfor %}
    </div>

    <a href="{{ path('app_shopping_list_new') }}">Create new</a>
    <a href="{{ path('app_logout') }}">Logout</a>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_admin') }}">Admin</a>
    {% endif %}

{% endblock %}
